@font-face {
    font-family: 'Nunito';
    src: url('fontes/nunito/nunito.woff2') format('woff2'),
         url('fontes/nunito/nunito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #2E3440;
	color: #D8DEE9;
}

.masthead-brand img {
	margin-top: -12px;
}